In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import defaultdict

In [2]:
Comparison = pd.read_csv("Output Data/DetectionComparison.csv")

In [3]:
Comparison

,t,ID (CME),x (CME),y (CME),z (CME),FI (CME),t_ig,ID (Dino),x (Dino),y (Dino),z (Dino),FI (Dino),Distance,Multi ID (Dino),Multi Distance (Dino)
0,1.0,0.0,442.55520,352.93335,96.218920,170.4,1.0,584.0,458.53,353.38,89.863,75.586,17.198589,NaN,NaN
1,2.0,0.0,491.54398,374.69995,99.981090,276.0,2.0,591.0,464.36,375.15,89.805,267.580,29.029711,NaN,NaN
2,3.0,0.0,501.38200,385.37073,105.580070,287.5,3.0,605.0,468.04,403.24,92.965,336.750,39.876557,NaN,NaN
3,4.0,0.0,499.87122,386.00577,104.739700,285.2,4.0,590.0,468.61,404.95,93.128,413.210,38.353348,NaN,NaN
4,5.0,0.0,445.84595,348.44888,97.112724,167.0,5.0,697.0,453.44,351.33,103.960,55.839,10.623353,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178317,71.0,2909.0,549.04570,682.47906,166.999910,284.0,71.0,978.0,556.19,686.22,161.650,224.610,9.677665,NaN,NaN
178318,71.0,2910.0,525.60040,688.05096,166.614900,268.8,71.0,917.0,537.66,696.65,154.370,109.590,19.217571,NaN,NaN
178319,71.0,2911.0,521.40970,693.00433,165.483570,259.0,71.0,917.0,537.66,696.65,154.370,109.590,20.021853,NaN,NaN
178320,71.0,2912.0,562.99680,695.99603,166.999050,279.2,71.0,978.0,556.19,686.22,161.650,224.610,13.058163,NaN,NaN
178321,71.0,2913.0,549.20776,702.99900,166.267210,231.4,71.0,917.0,537.66,696.65,154.370,109.590,17.753990,NaN,NaN

In [4]:
M_comp = Comparison.to_numpy()
t_vec = defaultdict(list)

for t in M_comp:
    t_vec[t[0]].append(t)

for t_val in t_vec:
    t_vec[t_val] = np.array(t_vec[t_val]) 

t_list = np.zeros((len(t_vec),3), dtype=object)

In [5]:
for i, t in enumerate(t_vec):
        
    t_val = t_vec[t]
    counts = len((t_val[:,12]))
    true_counts = (np.sum(t_val[:,12] < 3.5))
    t_list[i][0] = int(t)
    t_list[i][1] = counts
    t_list[i][2] = true_counts

NameError: name 'ID_val' is not defined

In [ ]:
plt.bar(t_list[:,0], 100*t_list[:,2]/t_list[:,1])
plt.xlabel("t")
plt.ylabel("CME vs Dino Match (%)")
plt.show()

In [ ]:
Comparison